bg-color(arguments)
  background arguments
  &:hover
    background darken(arguments, 20%)

body
  background rgb(0, 120, 190)
  font-family Helvetica, Arial, sans-serif

h1
  color white
  text-shadow: 2px 2px black;

button, input
  font-family Helvetica, Arial, sans-serif
  font-size 15px
  border none
  border-radius 5px
  padding 5px 10px
  margin 0 5px
  cursor pointer
  text-align center
  text-decoration none

input
  text-align left
  box-shadow: 2px 2px 0px 0px #999;
  height 20px

button
  font-weight bold
  color white
  height 30px

.kanbanBoard
  margin auto
  text-align center
  width 90%

.taskList
  width 30%
  margin 1%
  float left
  border-radius 15px
  background #EEEEEE

.taskCard
  margin 10px
  padding 10px
  border-radius 5px
  background white
  box-shadow: 2px 2px 0px 0px #999;

.addTaskForm
  margin 10px
  input
    width 50%
  button
    bg-color(#F47A20)
