body
  background rgb(0, 120, 190)
  font-family Helvetica, Arial, sans-serif

h1
  color white
  text-shadow: 2px 2px black;

.kanbanBoard
  margin auto
  text-align center
  width 90%

.taskList
  width 30%
  margin 1%
  float left
  border-radius 15px
  background #EEEEEE

.taskCard
  margin 10px
  padding 10px
  border-radius 5px
  background white
  box-shadow: 2px 2px 0px 0px #999;
