bg-color(arguments)
  background arguments
  &:hover
    background darken(arguments, 25%)

body
  background rgb(0, 120, 190)
  font-family Helvetica, Arial, sans-serif

h1
  color white
  text-shadow: 2px 2px black;

button, input
  font-family Helvetica, Arial, sans-serif
  font-size 15px
  border none
  border-radius 5px
  padding 5px 10px
  margin 0 5px
  cursor pointer
  text-decoration none

input
  text-align left
  box-shadow: 2px 2px 0px 0px #999;
  height 20px

button
  font-weight bold
  color white
  height 30px
  text-align center

.kanbanBoard
  margin auto
  text-align center
  width 90%

.taskList
  width 30%
  margin 1%
  float left
  border-radius 15px
  background #EEEEEE

.taskCard
  margin 10px
  padding 10px
  border-radius 5px
  background white
  box-shadow: 2px 2px 0px 0px #999
  position relative

  button.close
    position absolute
    top 5px
    left 5px
    bg-color(#F40020)
    font-size 12px
    height 20px
    width 20px
    line-height 20px
    vertical-align middle
    padding 0

.addTaskForm
  margin 10px
  input
    width 50%
  button
    bg-color(#F47A20)

.buttonBar
  button
    width: 90px
    margin-top 10px
    &.forward
      bg-color(#007A20)
    &.backwards
      bg-color(#F40020)
